<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="master.css">
        <title>boolflix</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <header>
                <div class="left-head">
                    <img src="img/logo.png" alt="">
                    <a @click="mySelection=allshow">visualizza tutti </a>
                    <a @click="mySelection=series">solo TV Show</a>
                    <a @click="mySelection=films">solo Movies</a>
                    <a href="#">myList</a>
                </div>
                <div class="right-head">
                    <input type="text" v-model="search" @keyUp.enter="searchFilm()">
                    <button type="button" name="button" @click="searchFilm()">cerca</button>

                </div>
            </header>
            <div class="film-container">
                <ul v-for="film in mySelection" class="card">
                    <li>
                        <h2 v-if="film.title">{{film.title}}<span class="miniature">film</span> </h2>
                        <h2 v-else>{{film.name}}<span class="miniature">tv</span></h2>
                    </li>
                    <li >
                        <h3 v-if="film.original_title">{{film.original_title}}</h3>
                        <h3 v-else>{{film.original_name}}</h3>
                    </li>
                    <li>Language:
                        <img v-if="languages.includes(film.original_language)" :src="'img/' + film.original_language+'.png'" alt="">
                        <span v-else >{{film.original_language}}</span>
                    </li>
                    <li>{{film.vote_average}}</li>
                    <li>
                        <div class="stars">
                            <i :class="film.vote_average > 1.5? 'fas' : 'far'" class="fa-star"></i>
                            <i :class="film.vote_average > 3.5? 'fas' : 'far'" class="fa-star"></i>
                            <i :class="film.vote_average > 5.5? 'fas' : 'far'" class="fa-star"></i>
                            <i :class="film.vote_average > 7.5? 'fas' : 'far'" class="fa-star"></i>
                            <i :class="film.vote_average > 9? 'fas' : 'far'" class="fa-star"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
