<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="master.css">
        <title>boolflix</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <header>
                <div class="left-head">
                    <h1>Boolflix</h1>
                </div>
                <div class="right-head">
                    <input type="text" placeholder="Cerca nei contenuti" v-model="search" @keyup.enter="searchFilm()">
                    <button type="button" name="button" @click="searchFilm()">
                        <i class="fas fa-search"></i>
                    </button>

                </div>
            </header>
            <section >
                <div v-if="isLoading"class="loader"></div>
                <h2 v-if="isLoading">Ricerca in corso</h2>

                <div  class="results" v-else-if="films.length">
                    <div class="main-search">
                        <h2>Risultati per" {{results}} "</h2>
                    </div>
                    <div class="left-filter">
                        <select v-model="selectGnr">
                            <option value="all">Tutti i generi</option>
                            <option :value="pcGnr[i]" v-for="(generi, i) in humGnr">{{generi}}</option>
                        </select>
                    </div>
                    <div class="mid-filter">
                        <button v-show="movie.length" @click="isClick(movie)" type="button" name="button">Film</button>
                        <button type="button" v-show="tvShow.length" @click="isClick(tvShow)" name="button">Serie</button>
                        <button type="button" @click="isClick(oldSelection)" name="button">Vedi tutto</button>
                    </div>
                    <div class="right-filter">
                        <button @click="sortByStar" type="button" name="button">Voto
                            <i :class="!order?'fas fa-chevron-down' :'fas fa-chevron-up'"></i></button>
                        <button @click="sortByPop()" type="button" name="button">I più visti<i :class="!filter?'fas fa-chevron-down' :'fas fa-chevron-up'"></i></button>
                    </div>
                </div>
                <h2 v-else-if="results">Nessun elemento corrisponde alla ricerca " {{results}} "</h2>
                <div v-else class="welcome">
                </div>
            </section>
            <div id="viewer" class="film-container">
                <ul v-for="(film,i) in films" class="card" v-if="film.genre_ids.includes(selectGnr) || selectGnr == 'all' " @mouseleave="moreDtl = false">
                    <li>
                        <div v-if="film.poster_path != null" class="poster-container">
                            <img :src="'https://image.tmdb.org/t/p/w342/'+film.poster_path" alt="immagine copertina">
                        </div>
                        <div v-else>
                            <img class="poster-not-av"src="https://zcms-rubais.softplace.eu/images/2000X3000_noimage.gif">
                        </div>
                    </li>
                    <li>
                        <ul class="content-info">
                            <li>
                                <h2 v-if="film.title">Titolo: {{film.title}} </h2>
                                <h2 v-else>Titolo: {{film.name}}</h2>
                            </li>
                            <li v-if="film.original_title!=film.title">
                                <h3 v-if="film.original_title">Titolo originale: {{film.original_title}}</h3>
                                <h3 v-else>Titolo originale: {{film.original_name}}</h3>
                            </li>
                            <li class="language-section">
                                <span class="info-lang">Language:</span>
                                <img class="lang" v-if="languages.includes(film.original_language)":src="'img/' + film.original_language+'.png'" alt="">
                                <span v-else >{{film.original_language}}</span>
                            </li>
                            <li>
                                <div v-if="film.vote_average" class="stars">
                                    <span>Voto: </span>
                                    <i  v-for="star in 5" :class="(film.vote_average / 2)+0.3 >= star? 'fas' : 'far'" class="fa-star"></i>
                                </div>
                                <div v-else>
                                    Voto non disponibile
                                </div>
                            </li>
                            <li class="overview"v-if="film.overview" >{{film.overview}}</li>
                            <li v-else> Nessuna descrizione disponibile</li>
                            <li class="more-details"@click="takefilmDtl(film)">
                                Dettagli
                                <i v-if="moreDtl" class="fas fa-minus"></i>
                                <i v-else class="fas fa-plus"></i>
                            </li>
                            <li v-if="moreDtl && bestfiveActors.length">
                                <h4>Attori:</h4>
                                <span class="actors" v-for="actor in bestfiveActors">{{actor}}</span>
                            </li>
                            <li v-if="moreDtl && genres.length">
                                <h4>Generi:</h4>
                                <span class="genres" v-for="genere in genres">{{genere}}</span>
                            </li>
                            <li v-if="!bestfiveActors.length && !genres.length && moreDtl">Al momento non ci sono ulteriori informazioni</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div v-if="servicePage">
                ricarica
            </div>
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
