<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="master.css">
        <title>boolflix</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <header>
                <h1>boolflix</h1>
                <input type="text" v-model="search" @keyUp.enter="searchFilm()">
                <button type="button" name="button" @click="searchFilm()">cerca</button>
            </header>
            <div class="film-container">
                <ul v-for="film in films" class="card">
                    <li>{{film.title}}</li>
                    <li>{{film.original_title}}</li>
                    <li>{{film.original_language}}</li>
                    <li>{{film.vote_average}}</li>
                    <li>
                        <div class="stars">
                            <i :class="film.vote_average > 1? 'fas' : 'far'" class="fa-star"></i>
                            <i :class="film.vote_average > 3? 'fas' : 'far'" class="fa-star"></i>
                            <i :class="film.vote_average > 5? 'fas' : 'far'" class="fa-star"></i>
                            <i :class="film.vote_average > 7? 'fas' : 'far'" class="fa-star"></i>
                            <i :class="film.vote_average > 9? 'fas' : 'far'" class="fa-star"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
