* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #333;
}
header {
    display: flex;
    height: 100px;
    background-color: black;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.left-head {
    display: flex;
    align-items: center;
}

h1 {
    color: red;
    margin-right: 50px;
}

.left-head a {
    text-decoration: none;
    margin: 0 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
section {
    color: white;

}
 .film-container {
     display: flex;
     flex-wrap: wrap;
 }
ul {
    list-style-type: none;
}

.card {
    position: relative;
    max-width: 100%;
    height: 520px;
    padding: 10px;
}


.poster-container {
    height: 500px;
    width: 342px;
    background-image: url('https://zcms-rubais.softplace.eu/images/2000X3000_noimage.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.poster-container img {
    height: 500px;
    width: 342px;
}

.poster-not-av {
    width: 342px;
    height: 500px;
}

.content-info {
    padding: 10px;
    display: none;
}

.language-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.info-lang {
    font-size: 13px;
}
.card:hover .content-info {
    top: 10px;
    display: block;
    width: 342px;
    height: 500px;
    opacity: 0.8;
    background-color: azure;
    position: absolute;
    overflow-y: auto;
}

.lang {
    height: 20px;
    border-radius: 50%;
}

h2 {
    font-size: 15px;
}

h2 .miniature {
    float: right;
    font-size: 12px;
    background-color: lime;
    padding: 5px;
}
h3 {
    font-size: 13px;
}

.fa-star {
    color: gold;
}
